.terms-sec{min-height:calc(130vh - 140px);}
.contact-pg {padding-top: 140px!important;}
.sbnav-open {display:none;}
.sbnav-close {display:inline-block!important;}
.mob-cat-btn {display:none;}
/* ==== Media Queries ===== */
@media only screen and (max-width: 1600px) and (min-width: 1440px) {
	
}

@media only screen and (max-width: 1280px) {
	.menus {padding:0;}
	footer ul.menus li a {margin: 0 12px;}
	.what-in-it ul li {padding: 12px 6px;}
	.about-content p {padding-left:40px;}
	/* header-1 */
	.heading {width: 55%;}
	.coin-count {width: 45%;}
	.interested-btn,.a-done-btn {font-size:12px;}
}

@media only screen and (max-width: 1024px){
	/* ==== Home Page === */
	.what-in-it ul li {padding: 10px 9px;font-size: 12px;margin-right: 2px;margin-bottom: 8px;}
	.banner-text h1 {font-size: 30px;letter-spacing: 1px;line-height: 28px;}
	.title1 {font-size: 26px;}
	p{font-size: 12px!important;}
	.way-to-earn p {margin-top: 8px;letter-spacing: 0.5;}
	footer ul li a.login-btn {padding:0 16px 0 16px!important; }
	footer ul.menus li a {margin: 0 8px;font-size: 12px;}
	.social-li {padding:0;}
}
@media only screen and (min-width:768px) and (max-width:991px){
	 .about-content {height:700px;}
}
@media only screen and (max-width:991px){
	
/* =========== nav Toggle ======= */
 .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin: 0px -15px;
		padding: 20px 0 25px 5px;
		border-bottom: 1px solid #dadada;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
/* ======== nav toggle end here ==== */
	main {margin-top:85px;}
	header {
    height: 85px;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
	top:0;
	left:0;
}
	.navbar-collapse {background:#e8f0fe;}
	.navbar-header {width:100%;}
	.navbar-toggle {
	background: #000;
    border-radius: 0px;
    border: none;
	padding:6px 10px;
	}
	.navbar-toggle i {font-size:18px;color:#fff;}
	.navbar-toggle .icon-bar {background:#fff;}
	.navbar-header {padding:18px 0;}
	.nav-open {display:block!important;}
	.bar-hidden {display:none!important;}
	header ul li a {margin:0;line-height:35px!important;padding-bottom: 10px!important;}
	section.banner-section {margin-top: 85px;}
	img.phone {width:100%;}
	.zucus-preaima li {
    line-height: 30px;
    font-size: 12px;
    letter-spacing: 0.3px;
}
/* About Us */
	.about-content img {float:none!important;margin:0 auto;display:block;width:55%;}

/* Contact Us */
p.fm-title {
    font-size: 20px!important;
}

.ct-txt {font-size: 14px;}
.total-points .bor-left {font-size:24px;}

	.tab-top-ul li {width:31%;margin-right: 9px;}
	.tab-top-ul li:after {right: -12px;top: 49%;width:8px;}
	.tab-top-ul li a {width: 100%;font-size: 12px;text-align: left;padding: 10px 20px;}
	.tab-top-ul {padding:0;margin-top: 30px;}
	.tab-top-ul li a img {height:28px;}

.category {
    height: 100%!important;
    margin-bottom: 20px;
    position: fixed;
    left: -270px;
    top: 0;
    z-index: 999;
    width: 270px;
	transition:0.2s ease;
	padding: 18px 15px;
}
	
.mob-cat-btn {
    position: absolute;
    left: 100%;
    top: 10%;
    z-index: 999;
    background: #ffc323;
    color: #000;
    padding: 10px;
    font-size: 30px;
	display:block;
}	
.nav-hidden{left:0px;}

#myHeader .login-btn {width: 120px;margin:0 auto!important;}

.login-menu {width: 100%;border: none;background: #e8f0fe;box-shadow: none;}
.dashboard-sec {padding: 20px 0;}
.what-in-it:before {left: -165px;bottom: 20px;}
.contact-pg {margin-top: 85px;}
}

@media only screen and (max-width: 767px){
	.zucus-preaima ul.tick {width:50%;float:left;}
	.way-to-earn-text {text-align:center;margin-top: 25px;}
	.hm-rewards,.what-in-it-text,.social-li {text-align:center;}
	.scrollToTop {bottom:60px;right: 35px;}
	.banner-text h1 {font-size: 22px;padding: 0 8px;}
	.f-logo {display:block;text-align: center;padding: 14px 0;}
	footer ul li a.login-btn {margin: 10px 0!important;}
	.way-to-earn img {width:100%;}
	.navbar-header {margin-left:0px!important;}
	.what-in-it ul li {width:75%}
	section.banner-section,.banner-slider .slick-slide {height: auto!important;}
	.banner-slider {height: auto; background-size: cover;}
	.banner-text {padding-bottom:20px;}
	.title,.title h1 {margin-top: 30px}
	
	.heading {width: 100%;float: none!important;text-align: center;}
	.coin-count {width: 100%;float: none!important;display: block;}
	.total-points {width: 80%;margin: 0 auto;}
	.heading h3 {padding: 0 12px;}
	.tab-top-ul {padding:0;}
	.my-points-box {text-align:center;}
	.my-points-box .bor-left,.my-points-box.engage .bor-left {padding-left:0px;border:none;text-align:center;}
	.pt-bx {padding-bottom:20px;position:relative;}
	.pt-bx:after {position: absolute;content: '';width: 80%;height: 1px;background: #ccc;left: 10%;bottom: 12px;}
	.sub-tabs-ul {width:80%;}
	.select-box {width: 20%;}
	form.login-form {padding: 15px;}
	.scrollToTop img {width:45px;}
	.tab-top-ul li {margin-bottom: 28px;width:100%;}
	.tab-top-ul li:after {width: 2px;height: 30px;left: 50%;top:100%;}
	.tab-top-ul li a {display: block;width: 100%;}
}
@media only screen and (max-width: 700px){
	.zucus-preaima ul.tick {width:auto;float:none;margin:0;}
}
@media only screen and (max-width:600px){
	.get-started,.login  {padding: 10px;font-size: 12px;margin: 14px 8px 14px 0;}
	.login img,.get-started img {width:16px;}
	.title1 {font-size: 18px;}
	.way-to-earn-text,.what-in-it-text{margin: 0;}
	.about-content img {width:100%;}
}
@media only screen and (max-width:480px){
	.sub-tabs-ul {width:100%;}
	.select-box {width:100%;margin-bottom:15px;}
	.sub-tabs-ul li a {font-size: 11px;margin: 0 4px;}
}
@media only screen and (max-width:430px){
	.total-points {width:100%;}
	.heading h3 {font-size: 18px;font-weight: bold;}
	.total-points img {margin-right: 0;width: 46px;}
}

@media only screen and (max-width:360px){
	.contact-content .contact-form,.contact-details {padding: 17px;}
	.tab-top-ul li a {text-align:left;}
}
